@(title: String)

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Language" content="en-us" />
<meta http-equiv="imagetoolbar" content="no" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<meta name="description" content="ACH Case Tracking System" />
<meta name="keywords" content="DNE, ACH, reclamation" />

<title>@title</title>

<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">


<!-- CSS -->
<link rel='stylesheet' media="screen" href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'>

<link rel="stylesheet" media="screen" href='@routes.Assets.at("bootstrap-datepicker/css/datepicker3.css")'>

<link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/custom_layout.css")'>


<!-- Javascript -->
<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>

<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))'></script>

<script type='text/javascript' src='@routes.Assets.at("bootstrap-datepicker/js/bootstrap-datepicker.js")'></script>

<script type='text/javascript' src='@routes.Assets.at("javascripts/case_form_handler.js")'></script>

<script type='text/javascript' src='@routes.Assets.at("javascripts/ajax_calls.js")'></script>