<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="@routes.CaseController.list()">ACH Case Tracker</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="@routes.CaseController.list()">Dashboard</a></li>
        <li><a href="#">Search</a></li>
        <li><a href="#">SLA</a></li>
        <li><a href="#">Auditing</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ><a class="text-right" href="@routes.SessionController.destroy()">Logout (@User.getFull_name)</a></li>
      </ul>
    </div>
  </div>
</div>